*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #001AFF;
}

nav {
    padding: 40px;
    background-color: #001AFF;
    width: 100%;
    position:fixed;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}
nav li {
    display: inline;
    padding: 3px .25%;
    position: relative;
    white-space: nowrap;
}
nav a {
    font-size: calc(4px + 1.5vw);
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: helvetica light, roboto light, arial, sans-serif;
}

nav li:hover {
    background-color: white;
}
nav li:hover a{
    color: #001AFF;

}
nav li:hover .dropdown {
    color: white;
    display: block;
}


nav ul.dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    flex-direction: column;
    background-color: rgba(13, 72, 255, .75);
    text-align: left;
    display: none;
}
nav ul.dropdown li {
    padding: .1%;
}

nav a.dropdown {
    font-size: calc(1.5px + 1.5vw);
    color: white;
}



h1 {
    text-align: center;
    font-size: calc(50px + 4vw);
    margin: 0 0 20vh 0;
    font-family: helvetica, roboto, sans-serif;
    color: white;
}

header p {
    text-align: center;
    font-size: calc(5px + 1.5vw);
    margin: 40vh 0 0 0;
    font-family: helvetica light, roboto light, arial, sans-serif;
    color: white;
}

main {
    padding: 8vh 2%;
    display: flex;
    flex-direction: row;
}
main p {
    font-size: calc(4px + 1.5vw);
    font-family: helvetica light, roboto light, sans-serif;
    color: white;
}

#firstc {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 33%;
    margin-bottom: 2vh;
    padding-left: 10%;
}

#secondc {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
}
#thirdc {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 33%;
    padding-right: 10%;
}

main a {
    color: orange;
}

@media screen and (max-width: 800px) {

}
