*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #001AFF;
}

nav {
    padding: 40px;
    background-color: #001AFF;
    width: 100%;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}
nav li {
    display: inline;
    padding: 0 4%;
}
nav a {
    font-size: calc(4px + 1.5vw);
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: helvetica light, roboto light, arial, sans-serif;
}

nav a:hover {
    background-color: white;
    color: #001AFF;
}

h1 {
    text-align: center;
    font-size: calc(50px + 4vw);
    margin: 0 0 9% 0;
    font-family: helvetica, roboto, sans-serif;
    color: white;
}

header p {
    text-align: center;
    font-size: calc(5px + 1.5vw);
    margin: 15% 0 0 0;
    font-family: helvetica light, roboto light, arial, sans-serif;
    color: white;
    visibility: hidden;
}

main {
    display: flex;
    flex-direction: column;
}
main p {
    font-size: calc(4px + 1.5vw);
    font-family: helvetica light, roboto light, sans-serif;
    color: white;
    padding: 5% 10%;
    text-align: center;
    align-content: center;
}

main a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 5% 2%;
}

@media screen and (max-width: 800px) {
    #page-wrapper {
        width: 100%;
    }
}
